
@model clsBook_BLL
<body>
	<div>
		<div class="card shadow-sm">
			<div class="card-header bg-warning text-white">
						<h5>Edit Book</h5>
			</div>
			<div class="card-body">

				<form method="post" asp-controller="Book" asp-action="Edit">

					<input type="hidden" asp-for="@Model.BookID" />

			<div class="mb-3">
				<label asp-for="Title" class="form-label">Title:</label>
				<input asp-for="Title" class="form-control" placeholder= "Book Title" />
				<span asp-validation-for="Title" class="text-danger"></span>

			</div>

			<div class="mb-3">
				<label asp-for="Auther" class="form-label">Author:</label>
				<input asp-for="Auther" class="form-control" placeholder= "Book Author" />
				<span asp-validation-for="Auther" class="text-danger"></span>

			</div>

			<div class="mb-3">
				<label asp-for="Genre" class="form-label">Genre:</label>
				<input asp-for="Genre" class="form-control" placeholder= "Book Genre" />
				<span asp-validation-for="Genre" class="text-danger"></span>

			</div>

			<div class="mb-3">
				<label asp-for="IsAvailable" class="form-label">Available :</label>
				<select asp-for="IsAvailable" class="form-select"
				asp-items="@(new List<SelectListItem>
                           {new SelectListItem {Text="Yes",Value="true"},
                            new SelectListItem {Text="No",Value="false"}
                           })">
						   <option value="" > Select A Value</option>
				</select>
				<span asp-validation-for="IsAvailable" class="text-danger"></span>

			</div>



			<button type="submit" class="btn btn-success">Save</button>
			<a asp-action="ShowAll" class="btn btn-secondary">Cansel</a>

		</form>

			</div>

		

</body>